package template

import (
	"github.com/maatko/society/api/model"
	"github.com/maatko/society/web/template/component"
)

templ Home(user *model.User) {
	@Index() {
		<div class="flex flex-col min-h-screen">
			@component.Navigation(user)
			<div class="flex flex-col flex-grow w-full lg:w-2/3 items-center mx-auto bg-zinc-900/50">
				<div class="mt-5"></div>
				<h2 class="block">posts</h2>
			</div>
		</div>
	}
}
