package component

import (
	"fmt"
	"github.com/maatko/society/api/model"
	"strings"
)

templ ProfileImage(user *model.User, size int) {
	<span class={ fmt.Sprintf("inline-flex h-%d w-%d items-center justify-center rounded-full bg-zinc-800", size, size) }>
		<span class="font-medium leading-none text-white">{ strings.ToUpper(user.Name[:2]) }</span>
	</span>
}
